* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  src: url(./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
}

:root {
  --light-text-color: rgba(76, 39, 25, 1);
  --light-bg-bloc-color: rgba(248, 245, 202, 0.54);
  --light-border-bloc-color : rgba(76, 39, 25, 1);

  --font-family-body: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-family-body);
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}

#root {
  height: 100vh;
}