.full-element {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

figcaption {
  grid-area: 2 / 1 / 5 / 3;
  display: flex;
  justify-content: left;
  z-index: 0;
}

figcaption img {
  width: 40rem;
  height: 35rem;
  object-fit: cover;
  display: block;
}

.texte-de-presentation {
  width: 50%;
  font-size: 13px;
  position: absolute;
  grid-area: 2 / 2 / 3 / 5;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px;
  color: #4c2719;
  border-radius: 5px;
  box-shadow: 0 3px 6px #4c2719;
  z-index: 1;
}

.texte-de-presentation h2 {
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "Pattaya";
  text-align: center;
}

.texte-de-presentation p {
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "Open Sans";
  margin: 8px 0 8px 0;
  text-align: justify;
}

.texte-de-presentation h3 {
  /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
  font-family: "Pattaya";
  text-align: center;
}
.card-container {
  margin: auto auto;
}

.card-home-element {
  grid-area: 3 / 4 / 5 / 5;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .full-element {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  figcaption img {
    width: 100%;
  }

  .texte-de-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;
    left: 15%;
    width: 70%;
  }

  .texte-de-presentation p {
    display: none;
  }

  .card-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }

  .card-home-element {
    margin: 2rem auto;
  }
}

@media screen and (min-width: 768px) {
  .texte-de-presentation {
    margin: 1rem 4rem 2rem 30rem;
  }
}
