.TextDePresentation {
  border: 1px solid #cccccc7a;
  padding: 1rem;
  width: 300px;
  margin: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.CardHomeElement {
  display: flex;
  justify-content: flex-end;
}
