.class-footer {
  color: var(--light-text-color);
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  p {
    margin-left: 8px;
  }

  img {
    width: 32px;
    margin: 8px;
  }
}
