.title-recipe {
  text-align: center;
  margin: 16px 0;
  color: var(--light-text-color);
}

.country-select {
  text-align: end;
  margin-right: 32px;
}

.country-select,
select,
select::picker(select) {
  appearance: base-select;
  color: var(--light-text-color);
  padding: 4px 8px;
}

@media screen and (min-width: 600px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
