.country-select {
  text-align: end;
  margin-right: 32px;
}

.country-select,
select,
select::picker(select) {
  appearance: base-select;
  color: var(--light-text-color);
  padding: 4px 8px;
}

.title-recipe {
  text-align: center;
  margin: 16px 0;
  color: var(--light-text-color);
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 240px;
}
