.about {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 80vh;
}

.avatar {
  grid-area: 1 / 1 / 7 / 7;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.logo {
  grid-area: 1 / 12 / 4 / 7;
  place-self: center;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about article {
  grid-area: 5 / 6 / 4 / 8;
  border: 2px, solid, var(--light-border-bloc-color);
  color: var(--light-text-color);
  background-color: rgba(255, 255, 255, 0.85);
  height: 250px;
  width: 250%;
  align-items: center;
  box-shadow: 5px 5px 5px var(--light-border-bloc-color);
  border-radius: 25px;
  font-size: 13px;
}

.about article img {
  height: 50px;
}

.about h1 {
  align-items: center;
  padding: 0;
}

.about p {
  padding: 16px;
}

.about h1,
.about h2 {
  text-align: center;
  font-family: var(--font-family-title);
}

/*@media screen and (max-width: 1078px) {
  .about h1,
  .about p,
  .about h2 {
    background-color: aquamarine;
    font-size: 12px;
  }
  .about h2 {
    padding: 5px;
  }
}*/

@media screen and (max-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .logo {
    grid-area: 1 / 1 / 2 / 2;
    height: 100px;
    width: 200px;
  }

  .avatar {
    grid-area: 2 / 1 / 4 / 2;
    height: 340px;
    justify-self: flex-end;

    overflow: hidden;
  }

  .about article {
    grid-area: 3 / 1 / 5 / 6;
    justify-self: center;
    font-size: 6px;
    height: 150px;
    width: 80%;
  }

  .about article img {
    height: 40px;
  }

  .about h1 {
    font-size: 8px;
  }
  .about p {
    font-size: 6px;
    padding: 10px;
  }

  .about h2 {
    font-size: 8px;
  }
}
