.register-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: fit-content;
  margin-bottom: 32px;
}

.register-page img {
  height: 150px;
}

.register-page h1,
h2 {
  color: var(--light-text-color);
  text-align: center;
  margin: 16px;
}

.register-page h2 {
  font-family: "Pattaya", sans-serif;
}

.register-page input {
  color: var(--light-text-color);
  background-color: var(--light-bg-bloc-color);
  margin: 16px;
  font-size: 1rem;
  width: 200px;
  height: 48px;
  border-radius: 8px;
  border: none;
}

.register-page button {
  cursor: pointer;
  margin: 16px;
  font-size: 1rem;
  width: 200px;
  height: 48px;
  color: white;
  background-color: #947d72;
  border-radius: 32px;
  border: none;
}

.section-register {
  border-radius: 8px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.register-page [popover] {
  margin: auto;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid var(--light-border-bloc-color);
}

.register-page ::backdrop {
  backdrop-filter: blur(3px);
}
