.register-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.register-page img {
  height: 150px;
}

.register-page h1,
h2 {
  color: var(--light-text-color);
  text-align: center;
  margin: 16px;
}

.register-page h2 {
  width: 220px;
  font-family: "Pattaya", sans-serif;
}

.register-page input {
  color: var(--light-text-color);
  background-color: var(--light-bg-bloc-color);
  margin: 16px;
  font-size: 1rem;
  width: 320px;
  height: 60px;
  border-radius: 8px;
  border: none;
}

.register-page button {
  cursor: pointer;
  margin: 16px;
  font-size: 1rem;
  width: 264px;
  height: 48px;
  color: white;
  background-color: #947d72;
  border-radius: 32px;
  border: none;
}
